
body {
   margin: 10px;
}

/* uv index colors*/
span.good {
   background-color: green;
   color: white;
   padding: 0 5px;
   border-radius: 5px;
}

span.moderate {
   background-color: yellow;
   padding: 0 5px;
   border-radius: 5px;
}

span.severe {
   background-color: red;
   color: white;
   padding: 0 5px;
   border-radius: 5px;
}

/* current weather styling*/
.list-item {
   padding-bottom: 10px;
   font-size: larger;
}

/* colors for headers*/
.card-header, .btn {
   background-color: #1e6eb0;
   color: white;
}

/* styling for past search buttons*/
.past {
   background-color: #a0a5a8;
   margin: 10px 20px;
   border-radius: 5px;
   padding: 10px;
}